<h3>Selected User</h3>
<table>
  <tr>
    <th>
      Full Name :
    </th>
    <td>
      {{selectedUserChild?.full_name}}
    </td>
  </tr>
  <tr>
    <th>
      Archive-Url
    </th>
    <td>
      {{selectedUserChild?.archive_url}}
    </td>
  </tr>
  <tr>
    <th>
      Description :
    </th>
    <td>
      {{selectedUserChild?.description}}
    </td>
  </tr>
  <tr>
    <th>
      Url
    </th>
    <td>
      {{selectedUserChild?.url}}
    </td>
  </tr>
  <tr>
    <th>
      Score
    </th>
    <td>
      {{selectedUserChild?.score}}
    </td>
  </tr>
</table>
